#sobre-nosotros {
  background-color: $dark-light-yellow;
  margin-top: 80px;

  .cont-sobre-nosotros {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    gap: 50px;
    padding: 60px;

    .info-sobre {
      display: flex;
      gap: 32px;
      flex-direction: column;

      hr {
        color: $white;
      }

      h2 {
        font-size: 48px;
        color: $white;
      }

      p {
        font-size: 24px;
        color: $white-smoke;
      }

      a {
        background-color: $light-brown;
        border-radius: 12px;
        padding: 8px 16px;
        color: $white-smoke;
        font-weight: 600;
        font-size: 18px;
        text-decoration: none;
        width: 300px;
        text-align: center;

        &:hover {
          background-color: $dark-brown;
        }
      }
    }
  }
}
