#hero {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../../img/barberShop1.avif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 80vh;
  color: $white-smoke;
  padding-top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  .heroTitulos {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    max-width: 1000px;
    width: 100%;
    padding: 0 20px;

    h1 {
      font-size: 64px;
    }

    p {
      font-size: 22px;
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }
  }
}

#testimoniales {
  background-color: $dark-light-yellow;
  padding: 80px 60px;
  display: flex;
  flex-direction: column;
  gap: 30px;

  .subtitulosImportantes {
    font-size: 36px;
    text-align: center;
    color: $white;
  }

  .testimonioContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 30px;

    .testimonio {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 10px;
      width: 400px;
      height: 400px;
      background-color: $dark-yellow;
      padding: 10px 20px;
      border-radius: 12px;
      color: $white;

      img {
        width: 150px;
        height: 150px;
        object-fit: cover;
        border-radius: 50%;
        margin-top: 10px;
      }

      &:hover {
        background-color: $dark-green;
        transform: translateY(-5px);
      }
    }
  }
}

#herramientasDeTrabajo {
  background-color: $dark-light-yellow;
  height: auto;
  padding: 0px 80px 80px;
  gap: 0px;

  .subtitulosImportantes {
    font-size: 36px;
    text-align: center;
    color: $white;
  }

  .parrafoImportante {
    font-size: 18px;
    color: $white;
    text-align: center;
  }

  .herramientasDeConfianza {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
    padding: 32px 16px;

    .herramientas {
      border: 1px solid $white-smoke;
      color: $white-smoke;
      padding: 10px 20px;
      border-radius: 12px;
      background-color: $dark-yellow;
      transition: transform 0.2s;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 20px;

      &:hover {
        background-color: $dark-green;
        transform: translateY(-5px);
      }

      img {
        width: 100%;
        height: auto;
        border-radius: 1000px;
        width: 150px;
        height: 150px;
        object-fit: cover;
      }
    }
  }
}
