header {
  .navbar {
    background-color: $dark-yellow;
    .container-fluid {
      .navbar-brand {
        color: $light-brown;
        font-size: 40px;
        &:hover {
          color: $dark-brown;
        }
      }
      .navbar-toggler {
        background-color: $light-brown;
      }
      .navbar-collapse {
        .navbar-nav {
          display: flex;
          flex-wrap: row;
          gap: 40px;
          .nav-item {
            .nav-link {
              color: $white-smoke;
              font-size: 18px;
              &:hover {
                color: $light-brown;
              }
            }
          }
        }
      }
    }
  }
}
