* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white-smoke: #f5f5f5;
  --black: #121212;
  --dark-green: #0e1407;
  --green: #606c38;
  --cream: #fefae0;
  --light-brown: #dda15e;
  --dark-brown: #bc6c25;
  --dark-yellow: #21221c;
  --dark-light-yellow: #3c3d36;
  --white: #fff;
}

img {
  width: 100%;
}

body {
  font-family: "Outfit", sans-serif;
}
